.Bounce {
  cursor: pointer;
  animation: bounce 0.75s ease-in-out infinite;
}

.Bounce:hover {
  animation-play-state: paused;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0.25rem);
  }
}
