@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  /* COLOURS */
  --primary-1: #0099a1;
  --primary-2: #f1de68;
  --primary-dark: #111111;
  --primary-light: #ffffff;
  --primary-light-bleed: hsla(0, 0%, 100%, 0.75);
  --secondary-1: #828282;

  /* FORM COLOURS */
  --placeholder-color: var(--primary-light-bleed);

  /*  STATUS COLOURS  */
  --error-color: #ff3366;
  --default-color: #d6edff;
  --success-color: #81e979;

  /* Backgrounds */
  --background-color-1: var(--primary-1);
  --background-color-2: var(--primary-2);
  --background-color-dark: var(--primary-dark);
  --background-color-light: var(--primary-light);

  /* Buttons */
  --button-primary-1-standard: 3px solid var(--primary-1);
  --button-primary-2-standard: 3px solid var(--primary-2);
  --button-form-standard: 3px solid var(--primary-light);

  /* Button States (PRIMARY-1)*/
  --button-primary-1-border-medium: var(--button-primary-1-standard);
  --button-primary-1-bg-solid: var(--button-primary-1-hover);
  --button-primary-1-hover: var(--primary-1);
  /* Button States (PRIMARY-2)*/
  --button-primary-2-border-medium: var(--button-primary-2-standard);
  --button-primary-2-bg-solid: var(--button-primary-2-hover);
  --button-primary-2-hover: var(--primary-2);
  /* Button States (Form) */
  --button-form-border-medium: var(--button-form-standard);
  --button-form-bg-solid: var(--primary-2);
  --button-form-hover: var(--primary-1);
  /* Button States (inactive button) */
  --button-inactive-border: var(--secondary-1);
  --button-inactive-bg: var(--secondary-1);

  /* FONTS */
  --hero-font-color: var(--primary-light);
  --toolbar-font-color: var(--primary-light);

  /* BORDERS */
  --light-border-color: var(--primary-light);
}

/* General Elements */
html {
  font-family: Roboto;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1,
h2 {
  /* Only has one weight and style: 400 Regular */
  font-family: Righteous;
}
header {
  @apply pt-6 xl:pt-8 absolute w-full;
  color: var(--toolbar-font-color);
}

p {
  @apply text-sm lg:text-lg;
  @apply font-light;
}

li {
  @apply text-xl;
  @apply font-light;
}

h1,
h2 {
  /*  2.5rem, 5rem */
  @apply text-4xl lg:text-7xl;
  @apply mb-6 lg:mb-8;
}

h2 {
  @apply text-center;
}

input,
textarea {
  background-color: transparent;
}

/* Nav Sections (Mobile and Desktop) */
nav li {
  @apply mx-4 text-xs xl:text-sm;
}

/* Sections */
section {
  @apply pt-16 lg:pt-20;
}

.section-children-container {
  @apply p-8 flex justify-center items-center;
}

.projects-container {
  @apply flex;
  @apply flex-no-wrap;
  @apply overflow-x-auto;
}

.values-beliefs-container {
  background-color: var(--primary-1);
}

.latest-projects-container {
  background-color: var(--primary-2);
}

.about-container {
  background-color: var(--primary-light);
}

.form-container {
  background-color: var(--primary-dark);
}

.form-container h2 {
  color: var(--primary-light);
}

/* MEDIA QUERIES */
@media (min-width: 500px) {
  .mobile-only {
    display: none !important;
  }
}

@import "./contact_form.css";
