.Card {
  /* 320px */
  height: 20rem;
  /* 240px */
  width: 15rem;
  /* Prevents cards growing or shrinking within flex container */
  @apply flex-shrink-0 flex-grow-0 p-2 mx-2;
  background-color: var(--background-color-light-bleed);
}

.Card h3 {
  @apply text-xl lg:text-2xl;
}

.ImgContainer {
  @apply relative pb-2/3;
}

.ImgContainer > div {
  position: absolute !important;
}

.ImgContainer img {
  background-color: #0000000f;
}

.Card p {
  @apply py-2 text-sm h-20 overflow-hidden lg:text-base;
}

@media (min-width: 1027px) {
  .Card {
    /* 400px */
    height: 25rem;
    /* 288px */
    width: 18rem;
  }
}
